.container {
   padding: 50px;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   background-color: rgb(242, 189, 166);
}

.total {
   padding: 30px;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   background-color: rgb(203, 199, 158);
}

.count {
   min-width: 200px;
   max-width: 40%;
   margin: 10px auto;
   padding: 20px;
   background-color: rgb(119, 188, 245);
   border: 3px solid rgb(158, 179, 241);
   border-radius: 12px;
   box-shadow: 3px 4px 4px rgb(116, 135, 151);
   font-size: 30px;
   font-weight: bold;
   font-style: italic;
   color: rgb(0, 93, 130);
   text-align: center;
}